<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
    <!--&lt;!&ndash;<title>Login</title>&ndash;&gt;-->
    <!--&lt;!&ndash;<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" th:href="@{/css/style.css}" />&ndash;&gt;-->


<!--&lt;!&ndash;</head>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;style="background-image: url('http://join.mercubuana.ac.id/images/login.png');background-repeat: no-repeat;&ndash;&gt;-->
<!--&lt;!&ndash;background-size: 700px 700px"&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<header>&ndash;&gt;-->
    <!--&lt;!&ndash;<object th:include="fragments/navigation :: menu" th:remove="tag"></object>&ndash;&gt;-->
<!--&lt;!&ndash;</header>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;<div >&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="log4">&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:if="${param.logout}" class="alert" style="color:red;font-size: large">You have been logged out</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="log1">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2 style="color:#6495ED ; font-size: 35px" >Login With UserName and Password</h2>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<form  name="form" th:action="@{/login}" method="POST">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="log2">&ndash;&gt;-->
            <!--&lt;!&ndash;<input  type="text" name="username" value="" placeholder="Username" autofocus="autofocus" />&ndash;&gt;-->
            <!--&lt;!&ndash;<input  type="password" name="password" placeholder="Password"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<div >&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="submit" id="login" value="Login" class="btn btn-primary" style="width:90px; margin-left:900px">Login</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<div >&ndash;&gt;-->
            <!--&lt;!&ndash;<form style="display:inline" action="/addCompany"  method="GET">&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="submit"  value="Register" class="btn btn-primary" style="width:90px; margin-left:900px">Register</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<form name="form" th:action="@{/login}" method="POST">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="imgcontainer">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:if="${param.logout}" class="alert" style="color:red;font-size: large">You have been logged out</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="uname"><b>Username</b></label>&ndash;&gt;-->
                <!--&lt;!&ndash;<input  type="text" name="username" value="" placeholder="Username" autofocus="autofocus" />&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="uname"><b>Username</b></label>&ndash;&gt;-->
                <!--&lt;!&ndash;<input  type="password" name="password" placeholder="Password"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<div >&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="submit">Login</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash; Sign In &ndash;&gt;-->
<!--<div id="id01" class="w3-modal" xmlns:th="http://www.w3.org/1999/xhtml">-->
    <!--<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">-->

        <!--<div class="w3-center"><br>-->
            <!--<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>-->
            <!--<img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">-->
        <!--</div>-->

        <!--&lt;!&ndash;form class="w3-container" action="/login"&ndash;&gt;-->
        <!--<div>-->
            <!--<p th:if="${param.logout}" class="alert" style="color:red;font-size: large">You have been logged out</p>-->
            <!--<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>-->
            <!--<form class="w3-container" name="form" th:action="@{/login}" action="login" method="POST">-->
                <!--<div class="w3-section">-->
                    <!--<label><b><span style="color:black" >Username</span></b></label>-->
                    <!--<input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="username" required>-->
                    <!--<label><b><span style="color:black">Password</span></b></label>-->
                    <!--<input class="w3-input w3-border" type="password" placeholder="Enter Password" name="password" required>-->
                    <!--<button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Sign in</button>-->
                    <!--<input class="w3-check w3-margin-top" type="checkbox" checked="checked">  <span style="color:black">Remember me</span>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->


        <!--<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">-->
            <!--<button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>-->
            <!--<span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<!--</div>-->



<!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->

<!--&lt;!&ndash;</html>&ndash;&gt;-->