<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
     >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
    <title>Participant</title>
</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>
<br>
<br>
<br>
<br>
<br>
<!--
<h1><span th:text="${loggedCompanyName}">Lidia</span></h1>
<h1><span th:text="${loggedAdminName}">Lidia</span></h1>
-->
<br>
<center>
    <div>
        <h3 th:if="${#lists.isEmpty(allList)}">Welcome in Profile App</h3>
    </div>
</center>


<center>
    <div>
        <table id="customers" th:if="${not #lists.isEmpty(allList)}" align="center">
            <thead>
            <tr>

                <th>name</th>
                <th>introduction</th>
                <th>description</th>
                <th >githubUrl</th>
            </tr>
            </thead>
            <tbody>
            <h2 style="text-align: center">The Participants of refugees<span style="color:red">{code}</span></h2>
            <h4>coding school for integration</h4>
            <tr th:each="list : ${allList}">
                <td th:text="${list.name}">name</td>
                <td th:text="${list.introduction}">name</td>
                <td th:text="${list.description}">name</td>
                <td th:text="${list.githubUrl}">name</td>

               <!--
                <td th:text="${list.showCompanyName()}" sec:authorize="hasAuthority('ADMIN')">specialization</td>
               -->
            </tr>

            </tbody>
        </table>
    </div>
</center>

<br>
<br>

<!--
<center>
    <div>
        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</center>
-->

<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
</body>
</html>